.progressbar {
  height: 0px;
  width: 500px;

}

.body {
  background: linear-gradient(to bottom right, #f5f1f1, #efeaed);
  border-radius: 10px;
  width: 500px;
  height: 150px;
  margin-top: 10px;
  /* Espacement en haut */
  margin-bottom: 10px;
  /* Espacement en bas */
  margin-left: 10px;
  /* Espacement à gauche */
  margin-right: 10px;
}

.achat {
  left: 43%;
  transform: translateY(-10%);
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to bottom right, #e9e2e2, #F8A0D4);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.name {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  font-style: italic;
  letter-spacing: 2px;
  line-height: 1.5;
}

.image-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  /* Autres styles personnalisés */
}

img {
  width: 50%;
  /* Définit une largeur de 50% par rapport à son conteneur parent */
  height: auto;
  /* Laisse la hauteur s'ajuster proportionnellement */
}

.produit {
  display: grid;
  grid-template-columns: auto 1fr;
  /* Première colonne pour l'image, deuxième colonne pour le texte */
  grid-gap: 2px;
  /* Espacement entre l'image et le texte */
}

img {
  grid-column: 1;
  /* Place l'image dans la première colonne */
  margin: -50px 0 0 0;
  /* Déplace l'image de 5 pixels vers le haut en ajustant la marge supérieure */
}

.texte {
  grid-column: 2;
  /* Place le texte dans la deuxième colonne */
}