<body>
  <div class="app">
    <span id="worldname"> {{world.name}} </span>
    <div>Money : <span [innerHTML]="world.money | bigvalue"> </span></div>
    <div>Score : <span [innerHTML]="world.score | bigvalue"> </span></div>

    <button class="boutonMulti" (click)="changeQtmulti()">{{ qtmulti }}</button>
    <!--<div clas="id"> ID du joueur </div>-->
    <div class="product">
      <app-product *ngFor="let product of world.products" [prod]="product" (notifyProduction)="onProductionDone($event)"
        [qtmulti]="qtmulti" [money]="world.money" (notifyBuy)="onProductBuy($event)">
      </app-product>
    </div>
    <button class="managers" mat-raised-button color="primary" [matBadge]="badgeManagers"
      [matBadgeHidden]="badgeManagers==0" (click)="showManagers = !showManagers">
      Managers
    </button>
    <div *ngIf="showManagers" class="modal">
      <div>
        <h1 class="title">Managers make you feel better !</h1>
      </div>
      <div *ngFor="let manager of world.managers">
        <div *ngIf="!manager.unlocked" class="managerslayout">
          <div>
            <div class="logo"><img class="round" [attr.src]="server+manager.logo" /> </div>
          </div>
          <div>
            <div class="managername"> {{ manager.name}} </div>
            <!-- <div class="managercible"> {{ world.products[manager.idcible].name }} </div> -->
            <div class="managercost"> {{ manager.seuil}} </div>
          </div>
          <div>
            <button class="hirebutton" (click)="hireManager(manager)"
              [ngClass]="{'selectable' : (world.money >= manager.seuil)}">Hire !</button>
          </div>
        </div>
      </div>
      <button class="closebutton" mat-raisedbutton color="primary" (click)="afficherManagers()">Close</button>
    </div>
    <button class="unlocked" (click)="showUnlockeds = !showUnlockeds">
      Unlocked
    </button>

    <div *ngIf="showUnlockeds" class="modal">
      <div>
        <h1 class="title">Unlockeds make you feel better !</h1>
      </div>
      <div *ngFor="let product of world.products">
        <div *ngFor="let palier of product.paliers">
          <div *ngIf="!palier.unlocked" class="managerslayout">
            <div>
              <div class="logo"><img class="round" [attr.src]="server+palier.logo" /> </div>
            </div>
            <div>
              <div class="managername"> {{ palier.name}} </div>
              <div class="managercost"> {{ palier.seuil}} </div>
            </div>
          </div>
        </div>
      </div>
      <button class="closebutton" mat-raisedbutton color="primary" (click)="afficherUnlocked()">Close</button>
    </div>
  </div>
</body>